:root {
  --backgroundColor: #ff4646;
  --sectionOnBacImg: url(/img/f4413900084b629c36d477332220830e.png);
  --snowBackImg: url(/img/2dfc048014f1902a0c5cef20e2241de5.png);
  --santaImg: url(img/santa.png);
  --olenImg: url(img/04957fcbcda39d1d47f087b8447ea5a8.png);
  --backImgShop: url(img/bg-garland.png);
  --colorFontHero: #ffffff;
  --darkColor: #000000;
  --goldColor: #ffd700;
  --backgroundColorBestGifts: rgba(193, 193, 192, 0.849);
  --forWork: #4361ff;
  --forHealth: #06a44f;
  --forHarmony: #ff43f7;
}

*,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.bodyOverflow {
  overflow: hidden;
}

.main-pag {
  position: relative;
}

.for-health {
  color: var(--forHealth);
}

.for-harmony {
  color: var(--forHarmony);
}
